* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}

body{
    background-image: url('img/papelArrugado.jpg');
    background-position: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    position: relative;
}

.bodyHome{
    background: 
        url('/img/papelBeige2.png') repeat center center,
        url('/img/fondoIconos20.png') repeat,
        linear-gradient(to bottom, #6ed6fb 16%, #9049fe 36%, #a100ff 61%, #e65aff 99%);     
    background-size: 
        contain,
        auto,
        400% 400%;
    animation: gradientAnimation 10s infinite alternate;
}

main {
    flex: 1;
    position: relative;
    padding-top: 60px;
}

header {
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%;
    padding: 10px;
}
header nav {
    position: relative;
}


.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    margin-left: auto;
    margin-right: 30px;
}


.logo {
    margin-left: 1%;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 60px;
}

nav ul li {
    margin-left: 20px;
    font-family: "Kiwi Maru";
    padding-top: 10px;
    font-size: 1rem;
}

nav ul li a:hover {
    color:#6ED6FB;
    font-size: 1.3rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.textonav{
    color: white;
    font-family: "Waiting for the Sunrise", cursive;
    margin-right: 30px; 
}

.form-check {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
}
.bannerArte{
    background-image: url('/img/bannerArte.jpg');
    height: 550px !important;
}
.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-color: #6ED6FB;
    transition: clip-path 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.code {
    background-image: url('/img/bannerHomeCode.png');
    z-index: 1;
}

.arte {
    background-image: url('/img/bannerHomeArte.png');
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    z-index: 0;
}

.banner-container .code.expanded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.banner-container .arte.expanded {
    clip-path: polygon(-50% 0, 100% 0, 100% 100%, -50% 100%);
}

.banner-container .code.hidden,
.banner-container .arte.hidden {
    opacity: 0;
    pointer-events: none; 
}


.papel img {
    height: 400px;
    flex-direction: column;
}

.papel img:hover {
    transform: scale(1.1);
    rotate: 5deg;
}

.papel img {
    position: relative;
    z-index: 1;
    height: 400px;
    flex-direction: column;
}
.arcoiris {
    margin-top: -440px;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
}

footer {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    padding: 20px;
}

.conte-degradado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    background: none;
    display: none;
}

.content {
    position: relative;
    z-index: 1;
}

/* --------------------- Sobremi --------------------- */

.contenidoSobremi {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    max-width: 900px;
    margin: auto;
    font-family: "Kiwi Maru";
}



.contenidoSobremi img, .contacto img {
    transform: rotate(-8deg);
    height: 500px;
    padding: 50px;
}

.iconosRedes{
    display: flex;
    align-items: center;
    
}
.iconosRedes a{
    margin: 0 10px;
    margin-left: 0;
    color: #0c7ba4;
    font-size: 2rem;
}
.iconosRedes a p{
    font-size: 1rem;
    margin-top: 15px;
}
.iconosRedes a:hover{
    color: #ff01a6; 
    transform: scale(1.3);
}

.celeste {
    color: #0c7ba4;
}

.lateral{
    max-width: 500px;
    font-weight: bold;
}
.cualidades{
    margin-top: -100px;
}

.papelrosa{
    background-color: #fbc9f3;
    border: 2px solid #ef60d7;
}
.papelrosa h1{
    color: #730160;
    text-align: center;
}

.papelceleste h1{
    text-align: center;
}
.papelceleste, .papelrosa{
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 10px;
    margin-top: -60px;
}    
.papelceleste{
    background-color: #b5edfe;
    border: 2px solid #2bc1f7;
}

.herramientas{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.herramientas img{
    margin: 10px;
    margin-bottom: 50px;
}
.herramientas img:hover{
    transform: scale(1.1);
    rotate: 3deg;

}

.tituloHerramientas{
    margin-top: 50px;
}
#cv{
    margin-top: 50px;
}
#cv img:hover{
    transform: scale(1.1);
    animation: palpitar 0.6s infinite;

}
@keyframes palpitar {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
/* --------------------- Espejo --------------------- */
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

#espejo {
    position: relative;
    width: 74vh;
    height: 57vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    display: none;
}
#mensaje {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    font-family: "Waiting for the Sunrise", cursive;
}

#marco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/marcoDoradoEspejo.png");
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: 2;
}

.rosa, .celeste2, .violeta{
    font-family: "Knewave", system-ui;
    text-align: left;
    margin: 3% 10% 3% 10%;
}

.rosa{
    color: #ff01a6;
    text-shadow: 1px 1px 2px #000000;

}

.celeste2{
    color: #6ed6fb;
    text-shadow: 1px 1px 2px #000000;
}

.violeta{
    color: #a100ff;
    text-shadow: 1px 1px 2px #000000;

}

.galeria{
    height: 200px;
    filter: grayscale(80%);
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

.galeria:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}

.brosa{
    border: 6px solid #ff01a6;
    border-radius: 5px;
}
.bazul{
    box-shadow: 0 0 0 6px #6ed6fb;
    border-radius: 5px;
}
.blila{
    border: 6px solid #a100ff;
    border-radius: 5px;
}

.naranja{
    background-color: orange;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: solid 2px #000000;
}

.abajo{
    margin-bottom: 30px;
}
.abajo:hover{
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 35px;
    transition: 0.3s;
    cursor: pointer;
}
.proyectos{
    font-family: kiwi maru;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 60px auto ;

    max-width: 1100px;
}

/* Contacto */

.contacto{
    display: flex;
    justify-content: left;
    text-align: left;
    margin: auto;
    font-family: "Kiwi Maru";
}
.contacto img{
    padding: 0;
    margin: 30px 5px 30px 5px;
}
.formularioContacto {
    background-image: url("/img/papelBeige2.png");
    padding: 0;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    padding: 20px; 
    color: #000000;
    border-radius: 10px;
    font-family: kiwi maru;
    margin-bottom: 20px;
}

label {
    margin: 5px 0 0px;
    text-align: left;
}


textarea {
    resize: none;
    height: 100px;
    font-family: kiwi maru !important;
    text-align: left !important;
    font-size: 1rem !important;
}

button {
    padding: 8px;
    margin-top: 5px;
    border: none;
    background-color: #a100ff;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #007fd9;
    color: white;
}

#modalMobile {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modalcelu-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.vermas{
    padding: 8px;
    margin-top: 5px;
    border: solid 1px black;
    background-color: #00000000;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.vermas:hover{
    transform: scale(1.1);
}

.botonRosa:hover{
    background-color: #f4009f;
    color: white;
    border: none;
}

.botonCeleste:hover{
    background-color: #6ed6fb;
    color: white;
    border: none;
}

.iconosRedesFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.iconosRedesFooter a{
    margin: 0 15px;
    margin-left: 0;
    color: white;
    font-size: 2rem;
}
.iconosRedesFooter a:hover{
    color: #6ED6FB; 
    transform: scale(1.3);
}




@media (max-width: 768px) {
    #sobreMi {
        content: url("img/sobreMiCel.png");
    }
    #proyectos {
        content: url("img/proyectosCel.png");
        margin-left: -70px;
    }
    #arte {
        content: url("img/arteCel.png");
    }
    #contacto {
        content: url("img/contactoCel.png");
        margin-bottom: 80px;
    }

    .arcoiris img {
        height: auto;
        max-width: 300px;
    }
    .arcoiris {
        margin-top: -200px;
    }
    nav ul {
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    .banner{
        height: 300px;
    }
    .banner-container {
        height: 400px;
    }
    .contenidoSobremi{
        flex-direction: column;
        padding:0 30px;
    }
    .contenidoSobremi img{
        transform: rotate(0deg);
        padding: 5px;
    }
    .cualidades img{
        height: 300px;
    }
    .cualidades{
        margin-top: 10px;
    }
    .galeria{
        height: 150px;
        filter: grayscale(0%);
    }

    .contacto img {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: left;
        top: 10px;
        right: 0;
        background-color: #1e1e1e;
        width: 300px;
        padding: 15px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    }

    nav ul li {
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .menu-icon.active + nav ul {
        display: flex;
    }
    .menu-icon {
        display: block;
    }

    .papelceleste, .papelrosa{
        margin-top: 10px;
    }
    .tituloHerramientas{
        height: 10px!important;
    }
    .herramientas img{
        margin-bottom: 10px;
    }
    .fotocelu{
        height: 300px!important;
    }
}


@media (max-width: 1024px) {
    .form-check { 
        display: none; 
    }
}