* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background: 
        url('/img/papelBeige.png') repeat center center,
        url('/img/fondoIconos20.png') repeat,
        linear-gradient(to bottom, #6ed6fb 16%, #9049fe 36%, #a100ff 61%, #e65aff 99%); /* Gradiente de fondo */
    
    background-size: 
        contain,
        auto,
        400% 400%;
    
    animation: gradientAnimation 10s infinite alternate;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

main {
    flex: 1;
    position: relative;
    padding-top: 60px;
}

header {
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%;
    padding: 10px;
}
header nav {
    position: relative;
}
.menu-icon {
    display: none;
}
.logo {
    margin-left: 1%;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 60px;
}

nav ul li {
    margin-left: 20px;
    font-family: "Kiwi Maru";
    padding-top: 10px;
    font-size: 1rem;
}

nav ul li a:hover {
    color:#6ED6FB;
    font-size: 1.3rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.textonav{
    color: white;
    font-family: "Waiting for the Sunrise", cursive;
    margin-right: 30px; 
}

.form-check {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-color: #6ED6FB;
    transition: clip-path 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.code {
    background-image: url('/img/bannerHomeCode.png');
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    z-index: 1;
}

.arte {
    background-image: url('/img/bannerHomeArte.png');
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    z-index: 0;
}

.banner-container .code.expanded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.banner-container .arte.expanded {
    clip-path: polygon(-50% 0, 100% 0, 100% 100%, -50% 100%);
}

.banner-container .code.hidden,
.banner-container .arte.hidden {
    opacity: 0;
    pointer-events: none; 
}


.papel img {
    height: 400px;
    flex-direction: column;
}

.papel img:hover {
    transform: scale(1.1);
    rotate: 5deg;
}

.papel img {
    position: relative;
    z-index: 1;
    height: 400px;
    flex-direction: column;
}
.arcoiris {
    position: absolute;
    margin-top: -440px;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
}

footer {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    padding: 20px;
}

.conte-degradado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    background: none;
    display: none;
}

.content {
    position: relative;
    z-index: 1;
}


@media (max-width: 768px) {
    #sobreMi {
        content: url("img/sobreMiCel.png");
    }
    #proyectos {
        content: url("img/proyectosCel.png");
    }
    #arte {
        content: url("img/arteCel.png");
    }
    #contacto {
        content: url("img/contactoCel.png");
    }
    .arcoiris img {
        height: 200px;
    }
    .arcoiris {
        margin-top: -200px;
    }
    nav ul {
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    
    .banner{
        height: 300px;
    }
    .banner-container {
        height: 400px;
    }

}

@media (max-width: 1024px) {
    .form-check { 
        display: none; 
    }
}